.chart-page {
    padding: 1px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #b30000;
    padding: 5px;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
    justify-content: space-between;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left {
    flex: 1;
}

.navbar-right {
    flex: 1;
    justify-content: flex-end;
}

.logo-sales-history {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-top: 2px;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    margin-right: 20px;
}

.profile-circle {
    color: white;
    font-size: 50px;
    cursor: pointer;
    margin-right: 80px;
}

.arrow-button-container {
    position: absolute;
    top: 40px;
    left: 30px;
}

.fa-arrow-rotate-left {
    font-size: 40px;
    cursor: pointer;
    color: #b30000;
}

.content {
    margin-top: 100px;
    width: 100%;
}

.charts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: -80px;
    margin-left: -100px;
}

.chart-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.chart-line, .chart-pie, .chart-bar {
    min-width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.download-icon {
    position: absolute;
    bottom: 70px;
    right: 150px;
    font-size: 30px;
    cursor: pointer;
    color: #b30000;
}

.footer-chart {
    width: 100%;
    height: 50px;
    background-color: #b30000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
