.product-management {
    padding: 1px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #b30000;
    padding: 5px;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
    justify-content: space-between;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left {
    flex: 1;
}

.navbar-center {
    flex: 2;
    justify-content: center;
    position: relative;
}

.navbar-right {
    flex: 1;
    justify-content: flex-end;
}

.logo-suppliers {
    width: 100px;
    height: 50px;
    margin-left: 70px;
    margin-top: -20px;
}

.header-logo {
    margin-right: -40px;
    margin-top: 10px;
    height: 20px;
    width: 20px;
}

.filter-btn {
    background: none;
    color: white;
    border: none;
    padding: 0 10px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 40px;
    letter-spacing: 2px;
    font-weight: 500;
}

.filter-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 1000;
}

.filter-menu.open {
    display: block;
}

.filter-btn .fa-caret-down {
    margin-left: 5px;
}

.price-range .price-inputs .min-btn,
.price-range .price-inputs .max-btn {
    width: 40px;
    border-color: #b3000070;
    border-radius: 8px;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    margin-right: 20px;
}

.search-bar {
    padding: 5px;
    border: none;
    border-radius: 15px;
    width: 730px;
    height: 35px;
}

.search-bar::placeholder {
    color: #000000ea;
    font-family: 'Inter';
    font-size: 20px;
    opacity: 1;
    letter-spacing: 5px;
    padding-left: 5px;
}

.profile-circle {
    color: white;
    font-size: 50px;
    cursor: pointer;
    margin-right: 80px;
}

.profile-circle i {
    font-size: inherit;
}

.content {
    margin-top: 100px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.actions .left-actions {
    display: flex;
    align-items: center;
    margin-left: 25%;
    gap: 0px;
}

.actions .right-actions {
    display: flex;
    align-items: center;
}

.new-product-btn {
    background-color: #b30000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
}

.product-list-container {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-icon {
    font-size: 24px;
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
    width: 80%;
}

.product-actions {
    display: flex;
    gap: 10px;
}

.edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.red-square {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.5);
    display: inline-block;
    margin-right: 10px;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.add-pencil-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.product-details p {
    margin-right: 20px;
    font-weight: 500;
    font-size: 20px;
}
