/* ModalProductManagement.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    padding: 10px;
    border-radius: 20px;
    height: 850px;
    width: 700px;
    max-width: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
}

.modal-header h2 {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 40px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

.close-btn i {
    font-size: 32px;
    color: #b30000;
    margin-top: -20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-form-container {
    display: flex;
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    background-color: #ffcccc;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 30px;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.image-placeholder i {
    font-size: 48px;
    color: #b30000;
}

.form-fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.form-fields-row {
    display: flex;
    gap: 10px;
}

.form-fields-row .input-container {
    flex: 1;
}

.form-fields label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.label-name {
    margin-left: 2%;
}

.form-fields .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #b30000;
    border-radius: 4px;
    position: relative;
}

.form-fields .nombre-input,
.form-fields .cantidad-input,
.form-fields .precio-input,
.form-fields .categoria-input,
.form-fields .proveedor-input {
    border-radius: 10px;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side .descripcion-input {
    width: 98%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #b30000;
}

.product-form select.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23b30000" class="bi bi-chevron-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/> </svg>') no-repeat right 10px center;
    padding-right: 30px;
}

.product-form select.input:before {
    content: "";
    position: absolute;
    right: 40px;
    top: 10px;
    bottom: 10px;
    width: 1px;
    background-color: #b30000;
}

.submit-btn-add {
    background: #b30000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: center;
    height: 40px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container .input {
    margin-bottom: 0;
}

/* Nuevo CSS para los divs left y right */
.left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.right-side {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descripcion-input {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
