@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Thin', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.modal-delete-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-delete-container {
    background: white;
    border-radius: 20px;
    width: 350px;
    height: 300px;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
    letter-spacing: 2px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-delete-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.modal-delete-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    border-top: 1px solid #eaeaea;
}

.modal-delete-cancel-btn {
    font-size: 1.5rem;
    background: none;
    border: 2px solid #000000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 18px;
    width: 115px;
    height: 50px;
    font-weight: 200;
}

.modal-delete-delete-btn {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #b30000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 18px;
    width: 115px;
    height: 50px;
    font-weight: 200;
}
