@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    font-family: 'Medium ', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.modal-suppliers-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-suppliers-container {
    background: white;
    padding: 10px;
    border-radius: 20px;
    height: 400px;
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.5);
}

.modal-suppliers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
    width: 100%;
}

.modal-suppliers-header h2 {
    font-family: 'SemiBold', sans-serif;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -20px;
    margin-left: 60px;
    letter-spacing: 1px;
}

.modal-suppliers-close-btn {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -40px;
    margin-right: 10px;
}

.modal-suppliers-close-btn i {
    font-size: 32px;
    color: #b30000;
    margin-top: -20px;
    z-index: 2000;
}

.modal-suppliers-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.modal-suppliers-form-container {
    display: flex;
    width: 100%;
}

.modal-suppliers-image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #ffcccc;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 30px;
}

.modal-suppliers-image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.modal-suppliers-image-placeholder i {
    font-size: 48px;
    color: #b30000;
}

.modal-suppliers-form-fields {
    display: flex;
    flex-direction: column;
    flex-grow: 10px;
    width: 100%;
}

.modal-suppliers-form-fields-row {
    display: flex;
    gap: 10px;
}

.modal-suppliers-form-fields-row .modal-suppliers-input-container {
    flex: 1;
}

.modal-suppliers-form-fields label {
    font-family: 'Medium ', sans-serif;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 13%;
    letter-spacing: 1px;
}

.modal-suppliers-label-name {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-bottom: 15px;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 10px;
}

.modal-suppliers-label-email {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 10px;
}

.modal-suppliers-label-phone-number {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 10px;
}

.modal-suppliers-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #b30000;
    border-radius: 5px;
    position: relative;
}

.modal-suppliers-name-input,
.modal-suppliers-email-input,
.modal-suppliers-phone-number-input {
    width: 70%;
    border-radius: 5px;
}

.modal-suppliers-name-input,
.modal-suppliers-email-input,
.modal-suppliers-phone-number-input {
    width: 70%;
    border-radius: 5px;
    margin: 0 auto;
}

.modal-suppliers-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-suppliers-select-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23b30000" class="bi bi-chevron-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/> </svg>') no-repeat right 10px center;
    padding-right: 30px;
}

.modal-suppliers-select-input:before {
    content: "";
    position: absolute;
    right: 40px;
    top: 10px;
    bottom: 10px;
    width: 1px;
    background-color: #b30000;
}

.modal-suppliers-submit-btn-add {
    font-family: 'ExtraLight', sans-serif;
    font-weight: 200;
    color: #ffffff;
    background: #b30000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    text-align: center;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.modal-suppliers-input-container {
    display: flex;
    flex-direction: column;
}

.modal-suppliers-input-container .modal-suppliers-input {
    margin-bottom: 0;
}

.modal-suppliers-left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.modal-suppliers-right-side {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-suppliers-descripcion-input {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
